@model IEnumerable<SchoolApp.Models.Teacher>

@{
    ViewBag.Title = "AddTeacher";
}

<h2>Add teacher to course</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Add", "TeacherToCourse", new { tId = item.Id, cId = ViewBag.cId })
        </td>
    </tr>
}

</table>
